

export AGTK_LOCATION=$AGTK_APP_ROOT/Contents/Resources
export PYTHONPATH=$AGTK_LOCATION:$AGTK_APP_ROOT/Contents/Resources/lib/python__PYVER__/site-packages
export PYTHONPATH=$AGTK_APP_ROOT/Contents/Resources/lib/python__PYVER__/site-packages/AccessGrid3:$PYTHONPATH
WX26PATH="`$AGTK_LOCATION/bin/findwx26`"
if test -n $WX26PATH; then
    export PYTHONPATH=$PYTHONPATH:$WX26PATH ;
fi
export PATH=${PATH}:${AGTK_APP_ROOT}/Contents/Resources/bin


