

export AGTK_LOCATION=$AGTK_APP_ROOT/Contents/Resources
export PYTHONPATH=$AGTK_LOCATION:$AGTK_APP_ROOT/Contents/Resources/lib/python2.3/site-packages
WX26PATH="`$AGTK_LOCATION/bin/findwx26`"
if test -n $WX26PATH; then
    export PYTHONPATH=$PYTHONPATH:$WX26PATH ;
fi
export GLOBUS_LOCATION=$AGTK_APP_ROOT/Contents/Resources/globus
source "$GLOBUS_LOCATION/etc/globus-user-env.sh"
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$AGTK_APP_ROOT/Contents/Resources/lib
export DYLD_LIBRARY_PATH=$LD_LIBRARY_PATH
export PATH=${PATH}:${AGTK_APP_ROOT}/Contents/Resources/bin


