# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Certificate Request Tool
Type=Application
Exec=CertificateRequestTool.py 
Icon=/usr/share/AccessGrid/ag.ico
GenericName=Request a certificate
Terminal=0
