# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Developer Documentation
Type=Application
Exec=/usr/bin/htmlview /usr/share/doc/doc/Developer/index.html
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
