# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=AGTk License
Type=Application
Exec=/usr/bin/htmlview /usr/share/doc/AccessGrid/COPYING.txt
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
