# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Node Manager
Type=Application
Exec=NodeManagement.py
Icon=/usr/share/AccessGrid/ag.ico
#DocPath=kalarm/index.html
GenericName=Manage your Access Grid Node
Terminal=0
#X-DCOP-ServiceType=Unique
#X-KDE-StartupNotify=true
