# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Node Service
Type=Application
Exec=AGNodeService.py 
Icon=/usr/share/AccessGrid/ag.ico
GenericName=Run the node service software
Terminal=0
