# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Node Service
Type=Application
Exec=AGNodeService.py -d
Icon=/usr/share/AccessGrid/ag.ico
Terminal=1
