# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=View README
Type=Link
URL=/usr/share/doc/AccessGrid/README
Icon=/usr/share/AccessGrid/ag.ico
GenericName=Read the ReadMe
Terminal=0
