# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=View README
Type=Application
Exec=/usr/bin/htmlview /usr/share/doc/AccessGrid/README
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
