# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Service Manager
Type=Application
Exec=AGServiceManager.py 
Icon=/usr/share/AccessGrid/ag.ico
GenericName=Run the service manager software
Terminal=0
