# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Venue Server
Type=Application
Exec=VenueServer.py 
Icon=/usr/share/AccessGrid/ag.ico
GenericName=Run the venue server software
Terminal=0
