# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Venue Client (Debug)
Type=Application
Exec=VenueClient.py -d
Icon=/usr/share/AccessGrid/ag.ico
Terminal=1
