# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Venue Client
Type=Application
Exec=VenueClient.py --personalNode
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
