# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Venue Client Manual
Type=Application
Exec=/usr/bin/htmlview /usr/share/doc/AccessGrid/Documentation/VenueClientManual/VenueClientManualHTML.htm
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
