[Desktop Entry]
Name=Developer Documentation
Comment=epydoc-generated documentation for developers
Exec=/usr/share/doc/Developer/index.html
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
Type=URL
