[Desktop Entry]
Name=Service Manager
Comment=Run the service manager software
TryExec=AGServiceManager.py
Exec=AGServiceManager.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
Type=Application
