[Desktop Entry]
Name=Venue Client Manual
Comment=View Venue Client Manual
Exec=/usr/share/doc/AccessGrid/Documentation/VenueClientManual/VenueClientManual.htm
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
Type=URL
