[Desktop Entry]
Name=Venue Client (Debug)
Comment=Run the venue client software in debug mode
TryExec=VenueClient.py
Exec=VenueClient.py --personalNode -d
Icon=/usr/share/AccessGrid/ag.ico
Terminal=1
Type=Application
