[Desktop Entry]
Name=Venue Manager
Comment=Manage venue servers
TryExec=VenueManagement.py
Exec=VenueManagement.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
Type=Application
