[Desktop Entry]
Name=Venue Management Manual
Comment=View Venue Management Manual
Exec=/usr/share/doc/AccessGrid/Documentation/VenueManagementManual/VenueManagementManual.htm
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
Type=URL
