[Desktop Entry]
Name=Node Manager
Comment=Manage your Access Grid Node
TryExec=NodeManagement.py
Exec=NodeManagement.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=0
Type=Application
