[Desktop Entry]
Name=Venue Client
Comment=Access Grid Venue Client
TryExec=VenueClient.py
Exec=VenueClient.py
Icon=gnome-chat.png
Terminal=0
Type=Application
