[Desktop Entry]
Name=Certificate Management
Comment=Manage AG certificates
TryExec=CertificateManager3.py
Exec=CertificateManager3.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid3-Configure;
