[Desktop Entry]
Name=AGTk License
Comment=Read the software license under which the AGTk is distributed
URL=file:///usr/share/doc/AccessGrid/COPYING.txt
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Link
Encoding=UTF-8
Categories=X-Access-Grid-Documentation;
