[Desktop Entry]
Name=Node Service
Comment=Run the node service software
TryExec=AGNodeService.py
Exec=AGNodeService.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid-Services
