[Desktop Entry]
Name=Node Service (Debug)
Comment=Run the node service software in debug mode
TryExec=AGServiceManager.py
Exec=/bin/sh -c "AGServiceManager.py -n -d; sleep 2"
Icon=/usr/share/AccessGrid/ag.ico
Terminal=true
Type=Application
Categories=X-Access-Grid-Services
