[Desktop Entry]
Name=Node Service
Comment=Run the node service software
TryExec=AGServiceManager.py
Exec=AGServiceManager.py -n
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid-Services;
