[Desktop Entry]
Name=Service Manager
Comment=Run the service manager software
TryExec=AGServiceManager3.py
Exec=AGServiceManager3.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid3-Services;
