[Desktop Entry]
Name=Venue Client (Debug)
Comment=Run the venue client software in debug mode
TryExec=VenueClient.py
Exec=/bin/sh -c "VenueClient.py --personalNode -d; sleep 2"
Icon=/usr/share/AccessGrid/ag.ico
Terminal=true
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid-Base
