[Desktop Entry]
Name=Venue Client (Personal Node)
Comment=Access Grid Venue Client (Personal Node Configuration)
Exec=VenueClient.py --personalNode
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid-Base;
