[Desktop Entry]
Name=Venue Server
Comment=Run the venue server software
TryExec=VenueServer.py
Exec=VenueServer.py
Icon=/usr/share/AccessGrid/ag.ico
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid-Services;
