[Desktop Entry]
Name=Venue Server (Debug)
Comment=Run the venue server software in debug mode
TryExec=VenueServer.py
Exec=VenueServer.py -d
Icon=/usr/share/AccessGrid/ag.ico
Terminal=1
Type=Application
Categories=X-Access-Grid-Services
