[Desktop Entry]
Name=Venue Server (Debug)
Comment=Run the venue server software in debug mode
TryExec=VenueServer.py
Exec=/bin/sh -c "VenueServer.py -d; sleep 2"
Icon=/usr/share/AccessGrid/ag.ico
Terminal=true
Type=Application
Encoding=UTF-8
Categories=X-Access-Grid-Services;
