[Desktop Entry]
Name=Venue Manager
Comment=Manage your Access Grid Venue
TryExec=VenueManagement.py
Exec=VenueManagement.py
Icon=gnome-chat.png
Terminal=0
Type=Application
